/*CSS Reset*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width:100%;
  /*put a border around everything to see where it stops and starts*/
    border:1px solid orangered;
}
/*General Styles*/
html{
    font-size:62.5%;
}
body{
    font-size:1.8rem;
    line-height: 1.5;
    font-family: 'PT Sans', sans-serif;
    background-color:#FFFAFA;
}
h1, h2, h3, h4{
    letter-spacing: 3px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size:2.5rem;
}
h4{
    font-size: 2rem;
}
section{
    padding: 4% 0;
}
a{
    text-decoration:none;
    letter-spacing:3px;
    color:#4F4F4F;
    font-family: 'PT Sans', sans-serif;
}
a:hover{
    color:#fcb131;
}
i{
    font-size: 5rem;
}

/* Header styling */

header{
    height: 26.5rem;
    background-color: rgb(169, 212, 169);
}

.title{
    width: fit-content;
    margin: 5rem auto 3rem 8rem;

}

nav{
    width: fit-content;
    height: fit-content;
    margin-left: 12rem;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.link_blocks{
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 15rem;
    height: 6.5rem;
    border: rgb(49, 43, 43) solid .5rem;
}

nav .link_blocks{
    border-left: 0px;
}

.link_blocks:first-child{
    border-left: rgb(49, 43, 43) solid .5rem;
    background-color: rgb(49, 43, 43);
    color: whitesmoke;
} 

/* body styling */

body{
    width: 100%;
}

/* hero box styling */

.hero{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    margin: 3rem 6.5rem 6rem 6.5rem;
    padding: 0;

}

.hero_img{
    width: 48%;
    height: auto;
    /* overflow: hidden; */
    /* object-fit: fill */

}

.hero_img img{
    display: block;
    /* border: yellow 10px solid; */
}

.hero_text{
    width: 48%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8rem;

}

.hero_name, .hero_text .link_blocks, .hero_passage{
    margin-bottom: 2rem;
}

.hero_passage h4{
    text-align: left;
}

/* Gallery Styling */

.gallery{
    margin: 6.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    height: 100%;
}

.gallery_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1% 6rem 1%;
    max-width: 20%;
    
    /* height: 35rem; */
    /* width: 35rem; */


}

.bg_frame img{
    display: block;
    margin-bottom: 2rem;
    width: 35rem;
}